
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    opacity: 0;
    overflow-y: auto;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 7.5rem 0 2.5rem 0;
    height: 100%;
    min-height: 50rem;
    width: calc(100% / 2.75);
    min-width: 30rem;
    background-color: rgba(0,0,0,0.3);
    border-right: 2px dotted $color-cyan;

    @media(max-width: $tab-land) {
        padding-top: 3rem;
    }

    @media(max-width: $tab-port) { 
        width: 100%;
        min-width: 40rem;
        height: 60%;
        min-height: 50rem;
        margin-bottom: 7.5rem;
        border-right: none;
        border-bottom: 2px solid $color-cyan;
    }

    &__title {
        width: 75%;
        margin: 0 auto;
        padding-left: 2rem;
        padding-bottom: 0.5rem;
        font-family: "Debra Light";
        font-size: 4rem;
        letter-spacing: 3px;
        border-bottom: 1px dotted $color-cyan;
    }

    &__contents {
        margin: 0 auto;
        width: 70%;
        font-size: 1.8rem;
        line-height: 3rem;


        @media(max-height: 55em) {
            font-size: 1.6rem;
            line-height: 2.75rem;
        }

        @media(max-height: 45em) {
            line-height: 2.25rem;
        }
    }

    &__atom {
        display: block;
        height: 20rem;
        width: 20rem;
        margin: 3rem auto 0 auto;

        @media(max-height: 55em) {
            height: 15rem;
            width: 15rem;
        }

        @media(max-width: $tab-port) { display: none; }
    }

    &__terminal-disclaimer {
        flex-basis: static;
        padding: 0.5rem 1.5rem;
        border-top: 1px solid $color-cyan;
        border-bottom: 1px solid $color-cyan;
        border-left: 1px dotted $color-cyan;
        border-right: 1px dotted $color-cyan;
        border-radius: 5px;
        background-color: rgba($color-cyan, 0.05);
        line-height: 2.5rem;
        text-align: center;

        @media(max-height: 55em) {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }

        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 0 auto;
            padding: 1rem 0.25rem;
            border-top: 1px solid $color-cyan;
            border-bottom: 1px solid $color-cyan;
            border-left: 1px dotted $color-cyan;
            border-right: 1px dotted $color-cyan;
            border-radius: 5px;

            @media(max-width: $tab-port) { display: none; }

            @media(max-height: 45em) { display: none; }
        }
    }
}


.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: calc(100% - 100% / 2.75);
    height: 100%;
    min-width: 20rem;
    padding-left: 10rem;
    overflow-y: auto;

    @media(max-width: $tab-port) {
        width: 100%;
        min-width: 40rem;
        min-height: 100rem;
        padding: 0;
        align-items: center;
    }
    
    &__section {
        width: 30rem;
        font-size: 1.8rem;
        line-height: 3rem;
        z-index: 1000;
        background-color: rgba(0,0,0,0.3);
        border: 1px dotted $color-cyan;
        border-radius: 5px;
        padding: 2rem 1rem;

        @media(max-height: 55em) {
            width: 27.5rem;
            line-height: 2.75rem;
            padding: 1.5rem 0.75rem;
        }

        @media(max-height: 45em) {
            font-size: 1.6rem;
            line-height: 2.25rem;
            width: 22.5rem;
        }
        
        @media(max-width: $tab-port) {
            position: relative;
            left: -10%
        }
        
        @media(max-width: $phone) {
            left: 0;
            
        }

        ul {
            padding-left: 1.5rem;
            list-style-type: none;
        }

        &--middle {
            margin-left: 35%;

            @media(max-width: $phone) { margin-left: 0 }
        }
    }

    &__header {
        padding-left: 2.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 1px dotted $color-cyan;
        font-size: 3rem;
        font-family: "Debra Light";
    }
}

.metoer {
    position: absolute;
    cursor: pointer;
}

.meteor-blast {
    position: absolute;
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 100px;
}