
.contact-map {
    height: 140vh;
    width: 100vw;
    border: none;
    opacity: 0.3;

    &__container {
        position: absolute;
        top: -15rem;
        left: -2.5rem;
        height: calc(100vh + 10rem);
        width: 100vw;
        overflow: hidden;

        @media(max-width: $tab-port) {
            left: 0;
        }
    }

}