@keyframes zoom-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    80% {
        transform: scale(0.2);
        opacity: 1;
    }

    100%{
        transform: scale(1);
    }
}


.map-container {
    position: absolute;
    top: -5rem;
    right: -2.5rem;
    height: 100vh;
    width: 60vw;
    background: url("../images/map-mod3.jpg");
    background-position: 90%;
    opacity: 0.3;
    overflow: hidden;
    clip-path: polygon(15rem 0, 100% 0, 100% 100%, 35rem 100%);
}

.map__i-live-here {
    position: absolute;
    top: 22vh;
    right: 15rem;
    width: 20rem;
    height: 20rem;
    border: 8px solid $color-cyan;
    border-radius: 100px;
    transition: 0.25s;
    animation: zoom-in 1s ease-out;
    animation-fill-mode: backwards;
    animation-delay: 2s;
    z-index: 1000;

    &::before {
        @include pos-absolute-center;
        display: block;
        content: "";
        width: 97%;
        height: 97%;
        border: 2px solid $color-light-grey;
        border-radius: 100px;
    }

    &::after {
        @include pos-absolute-center;
        display: block;
        content: "";
        width: 85%;
        height: 85%;
        border: 4px solid $color-cyan;
        border-color: inherit;
        border-radius: 100px;
    }

    // &:hover {
    //     transform: scale(0.7, 0.7);
    //     border-color: $monokai-orange;
    // }

}