.screenchange {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $color-cyan;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    transition-duration: 500;
    overflow: hidden;

    @media(max-width: $tab-port) { border: none; }

    &__initializing {
        @include pos-absolute-translated;
        top: 25%;
        left: 50%;
        width: 100%;
        text-align: center;
        font-family: "Debra Light";
        font-size: 5rem;
        letter-spacing: 5px;

        @media(max-width: $phone) {
            font-size: 2.5rem;
        }
    }
}


.light-cycle__container {
    position: absolute;
    top: 50%;
    left: -120%;
    width: 110%;
    padding-bottom: 7.5px;
    text-align: right;
    // border-bottom: 10px groove $color-cyan;

    @media(max-width: $tab-port) { 
        width: 200%;
        left: -210%;
    }
}

.light-cycle {
    transform: scale(1.5);
}