*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    letter-spacing: 1.25px;
    background-image: url("../images/sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: $color-cyan;
    z-index: -1000;
    // backface-visibility: hidden;

    &::after {
        display: block;
        content: "";
        height: 100vh;
        width: 100vw;
        background: 
            linear-gradient(
                to right, 
                darken($color-background, 18%),
                rgba(0,0,0,0) 500%
            );
    }
}