@font-face {
        font-family: "Glitch Outline";
        src: url("../fonts/glitch-outline.otf");
}

@font-face {
        font-family: "Debra Light";
        src: url("../fonts/DebraPW-Light.otf");
}